.custom-font{
    color: #020826;
    font-family: 'Work Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: #faeee7;
    color: #33272a;
    font-family: 'Work Sans', sans-serif;
}
nav{
    background-color: hsl(22, 100%, 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw;

    border-bottom: solid 2px black;
    padding: 0.5rem 1rem;

    box-shadow: .1rem 0 2rem .1rem hsl(22, 66%, 54%);
}
h1{
    font-size: 6vmin;
}
#popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25rem;
    width: 20rem;

    background-color: #716040;
    color: white;

    padding: 1rem;
    border-radius: 0.5rem;
}
#popup-button-div{
    display: flex;
    justify-content: space-around;  
}
.popup-buttons{
    width: 100%;
}
#book-input{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

}
#library-shelf{
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book-card{
    padding: 1rem;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #fffffe;
    min-width: 100px;
    max-width: 308px;
    height: auto;
    border: dashed 2px black;

    list-style-position: inside;
}
.book-card ul {
    background-color: blue;
    margin-bottom: 1rem;
}
.book-card-button{

    box-shadow: 0.1rem 0.2rem 0.9em 0.1rem hsl(30, 9%, 66%);

}